#map{
    width: 70%;
    height: 100vh;

}

#info{
    width: 30%;
    height: 100vh;
    padding: 20px;

}

.info-item{
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

section{
    display: flex;
    align-items: center;
}